[Desktop Entry]
Type=Application
Name=Grayslate
Comment=A fast scratchpad for code, data, and quick thinking
Exec=Grayslate %F
Icon=Grayslate
Terminal=false
Categories=Development;TextEditor;
Keywords=scratchpad;editor;JSON;CSV;developer;
MimeType=application/atom+xml;application/geo+json;application/json;application/json5;application/mbox;application/rss+xml;application/sql;application/toml;application/x-bat;application/x-fishscript;application/x-perl;application/x-php;application/x-powershell;application/x-ruby;application/x-shellscript;application/xhtml+xml;application/xml;application/xslt+xml;application/yaml;image/svg+xml;message/rfc822;text/css;text/csv;text/html;text/javascript;text/markdown;text/plain;text/rust;text/tab-separated-values;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csharp;text/x-go;text/x-java;text/x-kotlin;text/x-lua;text/x-objc++src;text/x-objcsrc;text/x-python;text/x-python3;text/x-sass;text/x-scala;text/x-scss;
StartupNotify=true
StartupWMClass=Grayslate
