---
import { Image } from "astro:assets";
import brandIcon from "../assets/brand-icon.png";

interface Props {
  compact?: boolean;
}

const { compact = false } = Astro.props;
---

<span class:list={["brand", { "brand--compact": compact }]}> 
  <Image
    src={brandIcon}
    alt=""
    width={40}
    height={40}
    densities={[1, 2]}
    format="webp"
    quality={90}
    loading="eager"
  />
  <span>Grayslate</span>
</span>
